.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.Icon-container--check {
    position: absolute;
    left: 12px;
}

.Icon-container--delete {
    position: absolute;
    top: -24px;
    right: 0;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 50%;
}

.Icon-svg {
    width: 34px;
    height: 34px;
    transition: fill .15s;
}

.Icon-container:hover .Icon-svg--check {
    fill: #4caf50;
}

.Icon-container:hover .Icon-svg--delete {
    fill: rgb(226, 62, 62);
}